#page-auth {
  display: flex;
  align-items: stretch;
  height: 100vh;

  &.dark {
    background: #333;
    color: #fff;
  }

  aside {
    flex: 7;

    background: #835afd;
    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 7.5rem 5rem;

    img {
      max-width: 20rem;
    }

    strong {
      font: 700 2.25rem 'Poppins', sans-serif;
      line-height: 2.625rem;
      margin-top: 1rem;
    }

    p {
      font-size: 1.5rem;
      line-height: 2rem;
      margin-top: 1rem;
      color: #f8f8f8;
    }
  }

  main {
    flex: 8;
    
    padding: 0 2rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;

    header button {
      position: absolute;
      top: 0.75rem;
      right: 0.75rem;
    }
  }

  .main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 20rem;
    align-items: stretch;
    text-align: center;

    > img {
      align-self: center;
    }

    h2 {
      font-size: 1.5rem;
      margin: 4rem 0 1.5rem;
      font-family: 'Poppins', sans-serif;
    }

    form {
      input {
        height: 3rem;
        border-radius: 0.5rem;
        padding: 0 1rem;
        background: #fff;
        border: solid 1px #a8a8b3
      }

      button {
        margin-top: 1rem;
      }

      button, input {
        width: 100%;
      }
    }

    p {
      font-size: 0.875rem;
      color: #737380;
      margin-top: 1rem;

      a {
        color: #e559f9;
      }
    }

  }

  .create-room {
    margin-top: 4rem;
    height: 3.125rem;
    border-radius: 0.5rem;
    font-weight: 500;
    background: #ea4335;
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    border: 0;

    transition: filter 0.2s;

    img {
      margin-right: 0.5rem;
    }

    &:hover {
      filter: brightness(0.8)
    }
  }

  .separator {
    font-size: 0.875rem;
    color: #a8a8b3;

    margin: 2rem 0;
    display: flex;
    align-items: center;

    &::before {
      content: '';
      flex: 1;
      height: 1px;
      background: #a8a8b3;
      margin-right: 1rem;
    }

    &::after {
      content: '';
      flex: 1;
      height: 1px;
      background: #a8a8b3;
      margin-left: 1rem;
    }
  }
}

@media (max-width: 940px) {
  #page-auth {
    flex-direction: column;

    &.dark main {
      background: #333;
    }

    main {
      padding: 6rem 0 2rem;

      header button {
        top: 1rem;
        right: 50%;
        transform: translateX(50%);
      }
    }

    .main-content {
      h2 {
        margin-top: 2rem;
      }
    }

    .create-room {
      margin-top: 2rem;
    }
  }
}

@media (max-width: 300px) {
  #page-auth {
    main {
      padding: 6rem 1rem 2rem;

      .main-content {
        p {
          padding: 0 1rem;
        }
      }
    }
  }
}