.question {
  background: #fefefe;
  border-radius: 1rem;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
  padding: 1.5rem;

  & + .question {
    margin-top: 0.625rem;
  }
  
  &.highlighted {
    background: #f4f0ff;
    border: 1px solid #835afd;
    
    footer .user-info span {
      color: #29292e
    }
  }
  
  &.answered {
    background: #dbdcdd;
  } 

  p {
    color: #29292e;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;

    .user-info {
      display: flex;
      align-items: center;

      img {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
      }

      span {
        margin-left: 0.5rem;
        color: #737380;
        font-size: 0.875rem;
      }
    }

    > div {
      display: flex;
      gap: 1rem;
    }

    button {
      border: 0;
      background: transparent;
      cursor: pointer;

      transition: filter 0.2s;

      &.like-button {
        display: flex;
        align-items: flex-end;
        color: #737380;
        gap: 1rem;

        &.liked {
          color: #835afd;

          svg path {
            stroke: #835afd;
          }
        }
      }

      &:not(.liked):hover {
        filter: brightness(0.6);
      }
    }
  }
}

@media (max-width: 940px) {
   .question {
     height: 6.5rem;

     footer {
       margin-top: 1rem;
     }
   }
}